/* NO classes or IDs */

/* Please make only "Just kidding!" yellow */
section h1 + h2{
    color: yellow;
}
/* Please make only "twitter" red and 20px */
aside p a{
    color: red;
    font-size: 20px;
}
/* Please make "Really hot" purple & "Like WILD hot" larger and blue  */
article h1+ h2{
    color:purple;
}
article h2+h2{
    color:blue;
    font-size: 150%;
}
/* Please make only bob and pizza green */
 ul +ul li a {
    color:green;
}