/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
main, .bottom{
     display: flex;

}
section{
     flex: 1;
     border: 5px solid white;
     background-color: orangered;
     height: 25vh;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
