*{
    margin: 0;
    box-sizing: border-box;

}
#head{
    width:100vw;
    height: 20vh;
    background-color: palevioletred;
    border: 1px solid white;
}

.sec{
    float: left;
    height: 60vh; 
    width: 15vw;
    background-color: skyblue;
    border: 1px solid white;

    
}
#sec-2{
    width: 40vw;
}


#foot{
    width: 100vw;
    clear: left;
    height: 20vh;
    background-color: indigo;
    border: 1px solid white;

}