/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1{
    padding: 3px 3px 3px 0;
    margin: 5px 0 0 0;
    background-color: lavender;
    color: blue;
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2{
    padding: 5px 0;
    border: 2px 0 solid darkgreen;
    background-color: orange;
}
/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section{
    border: 5px solid blue;
    height: 300px;
    margin-top: 400px;
}	
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span{
    border: 1.5px solid yellow;
    padding: 5px;
    margin: 10px;
}