/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere eles in the document. */
.extraExtraReadAllAboutIt h3{
    color:blue;

}
/* Please make "I like turtles." red */
#chunkyMlk h2{
    color: red;
}
/* Please select "Hello, world!" with the highest level of specificity possible*/
html body section#rugratsWildThornberrysBestCrossOverAllTime h2{
    color: orange;
}
/* Please select "Let's get down to business..." with the highest level of specificity possible */
html body section#chunkyMilk p.turtles{
    color: magenta;
}